.horizontal-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recycler-cell-item {
    padding: 1em;
    border: 1px solid salmon;
}

.recycler-cell-content {
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: black;
        bottom: -2px;
    }
}