@import "../../utils/components";

.scoreboard {
    &__wrapper {
        @include flex-vertical-center;
        height: 200px;
    }
}

.table {
    @include flex-horizonal-center;
    background: transparent;
    @include scrollbar;
    padding: 0.25em;

    & > *,
    & > * > * {
        background: transparent;
    }

    &--card {
        margin: 0.5em;
        border: 1px solid $color_white;
    }

    &--row {
        @include flex-horizonal-center;
        margin-block: 1em;
        width: 100%;
    }

    &--cell {
        width: 4em;
        text-align: center;
        margin-inline: 1em;
    }
}
