@import "../../utils/components";

.query {
    &__board {
        display: flex;
        flex-direction: row;
        padding: 1em;
        background: $color_white;
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    &__button {
        margin: 1em;
        @include action-button;
    }
}
