@import "../../utils/components";

.state {
    &__container {
        @include flex-vertical-center;
    }

    &__header {
        margin: 0;
        letter-spacing: 1em;
        font-size: $fnt_normal;
    }

    &__team {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-block: 1em;

        & > * {
            margin: 0;
            text-align: left;
            font-size: $fnt_normal;
        }

        &--name {
            text-align: left;
        }

        &--score {
            text-align: right;
        }

        &--turn {
            text-align: right;
            font-size: $font_btn;
        }
    }

    &__table {
        width: 95%;
        display: grid;
        grid-auto-rows: auto;
    }
}
