@import "src/utils/colors";
@import "src/utils/fonts";

.query {
    &__board {
        display: flex;
        flex-direction: row;
        padding: 1em;
        background: $color_accent;
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    &__button {
        margin: 1em;
    }
}