@import "src/utils/colors";
@import "src/utils/fonts";

.chooser {
  &__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color_background;

    & > * {
      margin: 1em;
    }
  }
}
