@import "../../utils/components";

.text-field {
  &__wrapper {
    @include no-decoration;
    width: 100%;
  }

  &__value {
    @include no-decoration;
    font-size: $font_btn;
    width: 100%;
    color: $color_white;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid $color_white;

    &--editable {
      cursor: pointer;
      @include blink;
    }
  }
}
