@import "../../utils/components";

.board {
  &__wrapper {
    height: 100%;
    padding-inline: 8em;

    & > * {
      color: $color_white;
    }
  }

  &__quizid {
    font-size: $font_btn;
    @include blink;
  }

  &__name,
  &__info,
  &__questions--line,
  &__answer,
  &__hint {
    margin: 0;
    font-size: $fnt_normal;
  }

  &__columns {
    @include grid-columns;
    height: 85%;
  }

  &__column {
    height: 100%;
    width: 100%;
    display: grid;

    &--right {
      & > p,
      & > * > p {
        text-align: right;
      }
    }
  }

  &__questions {
    @include scrollbar;
    height: 80%;
  }

  &__answers {
    @include grid-rows;
    height: 200px;
    align-items: center;
  }

  &__controls {
    @include grid-rows;
    align-self: end;

    &--right {
      @include grid-columns;
    }
  }
}
