@import "../../utils/components";
.board {
    &__wrapper {
        height: 100%;
        display: grid;
        grid-template-rows: 10em 1fr 4em;
        overflow: hidden;
        &>* {
            color: $color_white;
        }
    }
    &__header {
        display: grid;
        grid-template-columns: 8em 1fr 8em;
        grid-template-rows: 2em 1fr 3em;
        background: $color_footer_bkg;
        width: 100%;
        &--logo {
            grid-row: 2 / -2;
            grid-column: 2 / -2;
        }
        &--block {
            margin: auto;
        }
        &--bottom {
            grid-row: -2 / -1;
        }
        &--left {
            grid-column: 1 / 2;
        }
        &--top {
            grid-row: 1 / 2;
        }
        &--right {
            grid-column: -2 / -1;
        }
        &--quizid {
            cursor: pointer;
        }
        &--sub {
            gap: 1em;
            @include flex-horizonal-center;
        }
        &--fixed {
            grid-row: 1 / 2;
        }
    }
    &__body {
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr 1.5fr 3fr;
    }
    &__footer {
        @include grid-columns;
        grid-row: -2 / -1;
        background: $color_footer_bkg;
        align-self: end;
        height: 100%;
    }
    &__quizid {
        font-size: $font_btn;
        @include blink;
        cursor: pointer;
    }
    &__questions--line {
        @include font-content;
    }
    &__name,
    &__info,
    &__questions--line,
    &__answer,
    &__hint {
        margin: 0;
        font-size: $fnt_normal;
    }
    &__column {
        grid-column: 1 / -1;
        @include scrollbar;
        display: grid;
        margin-inline: 1em;
        margin-block: 0.5em;
        padding: 1em;
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(2px);
        &--right {
            &>p,
            &>*>p {
                text-align: right;
                color: rgb(24, 20, 20);
                text-indent: 10px;
                text-transform: lowercase;
                font-size: xx-large;
                font-family: 'Courier New', Courier, monospace;
                font-stretch: ultra-expanded;
            }
        }
    }
}