@import "../utils/components";

.quiz {
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color_background;
    background-image: url('./../../../images/background.svg');
  }
}
