@import "../../utils/components";

.lobby {
  &__wrapper {
    @include flex-vertical-center;
  }

  &__logo {
    @include logo-normal;
  }

  &__button {
    @include blink;
    @include action-button;
  }

  &__quiz--id {
    &--label,
    &--value {
      margin: 0.4em;
      color: $color_white;
      font-size: $font_btn;
    }

    &--value {
      @include blink;
      cursor: pointer;
    }
  }
  &__teams {
    @include flex-horizonal-center;

    & > * {
      margin-inline: 1em;
      width: clamp(8em, 20vw, 24em);
    }
  }

  &__team {
    @include flex-vertical-center;

    &--name {
      @include header;

      &--editable {
        cursor: pointer;
        @include blink;
      }
    }
  }
}
