@import "../../utils/components";

.landing {

    &__wrapper {
        @include wrapper;
        grid-template-rows: 6fr 4fr;
        grid-template-columns: 1fr;
        // background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
        // background-size:cover;
    }

    &__header {
        grid-row: 1/2;

        .logo b {
            font: 400 12vh "Vibur";
        }
    }

    &__content {
        @include action-button;
        grid-row: -2/-1;
    }
}
