@import "../../utils/components";
.quizzes {
  &__list {
    align-self: flex-start;
    justify-self: center;
    grid-column: 1/-1;
    display: grid;
    grid-gap: 10px; 
    list-style: none;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    overflow-y: scroll;
    padding: 6px;
    color: $color_white;
  }

  &__item {
    background-color: $color_background_board;
    border: 1px solid #99b4c0;
    padding: 8px;
    margin: 4px;
    border-radius: 2em;
    max-width: clamp(16em, 64em, 132em);
    display: grid;
    place-items: center;
    position: relative;

    &--quiz {
      grid-template-columns: repeat(3, 1fr);   
      grid-template-rows: repeat(4, 1fr);
    }

    div {
      color: $color_white;
      width: 100%;
    }

    &--value {
      text-align: center;
      &::after {
        content: "";
        display: flex;
        align-self: center;
        position: absolute;
        height: 0.5em;
        font-size: 0.5em;
        text-align: center;
        letter-spacing: 0.1em;
      }
    }

    &__button {
      margin-inline: 2em;

      &-container {
        grid-row: -2/-1;
        grid-column: 1/-1;
      }
    }

    &--name {
      grid-row: 1/2;
      grid-column: 1/2;

      .quizzes__item--value::after {
        content: "QUIZ";
      }
    }

    &--quizmaster {
      grid-row: 1/2;
      grid-column: -2/-1;

      .quizzes__item--value::after {
        content: "QUIZMASTER";
      }
    }

    &--rounds {
      grid-row: 2/3;
      grid-column: 1/2;

      .quizzes__item--value::after {
        content: "ROUNDS";
      }
    }

    &--questions {
      grid-row: 2/3;
      grid-column: -2/-1;

      .quizzes__item--value::after {
        content: "QUESTIONS";
      }
    }

    &--config {
      grid-row: 2/3;
      grid-column: 2/3;

      .quizzes__item--value::after {
        content: "TEAMS";
      }
    }

    &--players {
      grid-row: -3/-2;
      grid-column: 1/-1;

      .quizzes__item--value::after {
        content: "PLAYERS";
      }
    }

    &--create {
      width: 8em;
      grid-row: 1/-1;
      grid-column: 1/-1;
    }

  }
}
