@import "../../utils/components";

.form {
  &__wrapper {
    display: grid;
    margin: 6em;
    padding-block: 1em;
    padding-inline: 2em;
    background: $color_glass;
  }

  &__header {
    @include header;
  }

  &__buttons {
    @include flex-horizonal-center;
  }

  &__button {
    @include action-button;
  }
}
