$color_background: #451709;
$color_footer_bkg: #200e0e;
$color_white: #f9f8f8;
$color_disabled: #d6bdbd;
$color_header: rgb(255, 255, 255);
$color_header_shadow: rgb(135, 135, 222);
$color_black: rgb(19, 17, 17);
$color_glass: hsla(12, 47%, 35%, 0.4);