@import "../../utils/components";

.credentials {
  &__wrapper{
    grid-template-rows: 4fr 8fr;
    background: url('./../../../../images/choose_bg.jpg');
    background-size: cover
  }
  &__logo {
    @include logo-normal;
  }
}
