.quizzes {
  &__list {
    align-self: flex-start;
    grid-row: 2/3;
    grid-column: 1/-1;
    display: "grid";
    list-style: none;
    height: 800px;
    overflow-y: scroll;
    padding: 6px;
  }

  &__item {
    background-color: #fafafa;
    border: 1px solid #99b4c0;
    padding: 8px;
    margin: 4px;
    display: grid;
    place-items: center;

    

    &__button {
      margin-block: 2em;
    }
  }
}
